<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Situation de COVID19 en France</title>
        {% endif %}
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    </head>
    <body>
        
        <h1>Date: {{ date }}</h1>
        <h1>Nombre de cas comfirmés: {{ casConfirmes }}</h1>
        <h1>Nombre de décés: {{ deces }}</h1>
        
        <form action="{{ url_for('search_by_date') }}" method="post">
        <p>Choisiez votre date et departement de recherche</p>
        <input type="date" name="bday" min="2020-01-01" required><br><br>
        <input type="text" id="input_departement" name="departement" placeholder="Search.." required>
        <input id="choisirDate" type="submit" value="Validez">
        </form>
        <script src="{{ url_for('static', filename="js/departement.js") }}"></script>

            
    </body>
</html>