<html>

<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Situation de COVID19 en France</title>
    {% endif %}
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript"
        src="http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
        integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron row">
            <div class="col-lg-2">
                <p>Date: {{ date }}</p>
            </div>
            <div class="col-lg-2">
                <div>
                    <p>Nombre de cas comfirmés:</p>
                    <p>{{ casConfirmes }}</p>
                </div>
            </div>
            <div class="col-lg-2">

                <div>
                    <p>Nombre de décés:</p>
                    <p>{{ deces }}</p>
                </div>

            </div>
            <div class="col-lg-6">
                <p>Choisiez votre date et departement de recherche</p>
                <div style="display: flex;">
                    <input type="date" id="bday" style="font-size: 1.5rem; margin-right: 5px;" name="bday"
                        min="2020-01-01" required><br><br>
                    <input type="text" style="font-size: 1.5rem" id="input_departement" name="departement"
                        placeholder="Choisiez le département" required>
                    <button id="ajax_search">Validez</button>
                    <button id="clear">Effacez</button>
                </div>
            </div>


        </div>
    </div>
    <div class="container">
        <div class="col-lg-6">
            <canvas id="myChart1"></canvas>
        </div>
        <div class="col-lg-6">
            <div id='search_result' class="container"></div>

        </div>
    </div>


    <script src="{{ url_for('static', filename="js/departement.js") }}"></script>

    <script>
        $('#ajax_search').click(function () {
            var date = $('#bday').val();
            var departement = $('#input_departement').val();
            $.post('/search_by_date', { 'bday': date, 'departement': departement }, function (data) {
                $('#search_result').append(data);
            })
        })

    </script>
    <script>
        $('#clear').click(function () {
            $('#search_result').children().remove();
        })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script>
        window.onload = function () {
            $.get('/get_hospital_mois', {}, function (data_return) {
                var m1 = data_return['M1'];
                var m2 = data_return['M2'];
                var m3 = data_return['M3'];
                var m4 = data_return['M4'];
                var m5 = data_return['M5'];
                var m6 = data_return['M6'];
                var m7 = data_return['M7'];
                var m8 = data_return['M8'];
                var m9 = data_return['M9'];
                var m10 = data_return['M10'];
                var m11 = data_return['M11'];
                var m12 = data_return['M12'];
                var x = new Chart(document.getElementById("myChart1"), {
                    type: 'scatter',
                    data: {
                        datasets: [{label: "Les cas hospitalises par mois",data: [{x: 1,y: m1}, {x: 2,y: m2}, {x: 3,y: m3}, {x: 4,y: m4},
                        {x: 5,y: m5}, {x: 6,y: m6}, {x: 7,y: m7}, {x: 8,y: m8},
                        {x: 9,y: m9}, {x: 10,y: m10}, {x: 11,y: m11}, {x: 12,y: m12}],}]},
                    options: {responsive: true}
                });

            })

        }
    </script>
</body>

</html>